.filter-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 1.5em;
  position: relative;
}
.cleanFilterForm {
  transition: .1s linear;
  position: absolute;
  top: -.5em;
  right: 0.5em;
  font-size: 0.8em;
  padding: .5em;
  margin-bottom: .5em;
  border: none;
  color: #333;
  &:hover,
  &:focus,
  &:active {
    border: none;
    outline: none;
    box-shadow: none;
    color: #333;
  }
  &:hover{
    color: crimson;
  }

  &:active{
    color: brown;
  }
}