@use "../style/vars" as *;

.card {
  position: relative;
  width: 24em;
  background-color: #f0f8ff;
  padding: 1em;
  border-radius: 15px 1px 15px 15px;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  cursor: grab;
  &:active{
    cursor: grabbing;
  }

  &-list {
    list-style: none;
  }

  &-username {
    font-size: 16px;
    line-height: 20px;
  }
  &-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }
  &-item {
    color: rgb(129, 61, 61);
    font-size: 14px;
    line-height: 20px;
  }
  &-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
  }
  &-button {
    width: 7em;
    border-radius: 5px;
    outline: none;
    border: none;
  }

  &-load {
    background-color: $main-green-color;
  }
  &-edit {
    background-color: rgb(220, 20, 60);
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
}
span {
  font-weight: 700;
  color: #000;
}
@media (min-width: 300px) and (max-width:420px) {
  .card {
    width: 18em;
  }
}


