.card-list {
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr ;
  margin: 0 auto;
  align-items: flex-start;
}

@media (min-width: 0px) and (max-width: 794px) {
  .card-list{
    grid-template-columns: 1fr ;
  }
}

@media (min-width: 795px) and (max-width:1200px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}
